#sidenav {
  width: 25%;
  padding: 1em;
}

#main-container {
  padding-left: 1em;
}

.new-post-form {
  margin-bottom: 1em;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
