<mat-sidenav-container>
  <mat-sidenav id="sidenav" mode="side" opened>
    <h2>Your Groups</h2>
    <mat-list id="yourGroupsSidebar">
      <p *ngIf="groups.length === 0">
        You aren't part of any groups right now. You can click below to add one
        <button routerLink="/join" mat-raised-button color="primary">Join Groups</button>
      </p>
      <div *ngFor="let group of groups">
        <mat-list-item>{{ group.title }}</mat-list-item>
        <mat-divider></mat-divider>
      </div>
    </mat-list>

  </mat-sidenav>
  <mat-sidenav-content id="main-container">
    <h2>{{ group?.title }}</h2>
    <div class="example-container">
      <form (submit)="post()" [formGroup]="form" #ngFormDirective="ngForm">
        <mat-form-field appearance="fill">
          <mat-label>Title</mat-label>
          <input matInput formControlName="title">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>What's on your mind?</mat-label>
          <textarea matInput formControlName="body"></textarea>
        </mat-form-field>

        <div class="form-actions">
          <button mat-raised-button color="primary" type="submit">Post</button>
        </div>
      </form>

      <post-card *ngFor="let post of posts" [post]="post"></post-card>

    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
