<mat-toolbar class="page-info">
    <mat-toolbar-row>
      Select housing groups based on location and landlord.
    </mat-toolbar-row>
</mat-toolbar>

<mat-selection-list #groups cols="4" rowHeight="2:1" class="group-selection hide-checkbox " [(ngModel)]="selectedOptions" (ngModelChange)="onSelection($event)">
    <mat-list-option *ngFor="let group of joinGroups" [value]="group">
      {{group.title}}
    </mat-list-option>
</mat-selection-list>

<div class="join-groups-button">
  <button mat-raised-button (click)="joinSelectedGroups()" color="primary">Join Groups</button>
</div>
