h2 {
    margin-top: 3rem;
}

.cards {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: row wrap;
    align-content: flex-start;
    landlord-card,
    property-card {
        width: 31rem;
    }
}

mat-grid-tile {
    background: #0277bd;
    border-radius: 5px;
}

button { 
    position: absolute; 
    bottom: 15px;
    right: 15px;
    border: 0px solid #d6d6d6;  
}