@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url('/assets/fonts/MaterialIcons-Regular.woff2') format('woff2'),
       url('/assets/fonts/MaterialIcons-Regular.woff') format('woff'),
       url('/assets/fonts/MaterialIcons-Regular.ttf') format('truetype');
}

@import '~@angular/material/theming';

// NOTE: Theming is currently experimental and not yet publically released!

@include mat-core();

$primary: mat-palette($mat-deep-purple);
$accent:  mat-palette($mat-amber, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);

.app-dark {
  $dark-primary: mat-palette($mat-light-blue, 800);
  $dark-accent:  mat-palette($mat-yellow, 500);
  $dark-warn:    mat-palette($mat-red);
  // color: #f44336;

  $dark-theme: mat-dark-theme($dark-primary, $dark-accent);

  @include angular-material-theme($dark-theme);

  fieldset {

    &:focus-within {
      border-style: solid;
      // border-bottom-color: mat-color($dark-primary);
    }
    &.ng-invalid.ng-dirty.ng-touched:not(:focus-within) {
      border-bottom-color: mat-color($dark-warn);
      legend {
        color: mat-color($dark-warn);
      }
    }
  }

  mat-toolbar.page-info {
    background-color: #424242;
  }

  app-home {
    section.header {
      background-color: mat-color($dark-primary);
      a:not([class*=-button]):not(.mat-list-item) {
        // Applies to unvisited links
        &:link {
          color: #303030;
        }

        // Applies to visited links
        &:visited {
          color: #424242;
        }

        // Applies to elements that are being hovered over.
        &:hover,
        // Applies to elements that have the focus
        &:focus {
          outline: 1px dotted;
        }
      }
    }
  }

  .mat-form-field.mat-focused .mat-form-field-label {
    color: rgba(255, 255, 255, 0.7);
  }

  a:not([class*=-button]):not(.mat-list-item) {
    // Applies to unvisited links
    &:link {
      color: #81d0ff;
    }

    // Applies to visited links
    &:visited {
      color: #65a3c8;
    }

    // Applies to elements that are being activated (BUTTON, INPUT, A, etc.)
    &:active {
      // outline: 1px dotted;
    }

    // Applies to elements that are being hovered over.
    &:hover,
    // Applies to elements that have the focus
    &:focus {
      outline: 1px dotted;
    }
  }

  .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: #81d0ff;
  }

}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

html, body {
  height: 100%;
}

body {
  margin: 0;

  mat-form-field {
    width: 100%;
  }

  .mat-form-field-infix {
    width: auto;
  }

  .mat-form-field-underline {
    position: static;
  }

  .mat-form-field-subscript-wrapper {
    position: static;
  }

  .mat-snack-bar-container {
    max-width: 66vw;
  }
}

.mat-typography {
  line-height: 1.4;
}

mat-toolbar.page-info {
  mat-toolbar-row {
    min-height: 5rem;
  }
}

mat-card {
  line-height: 1.2;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.mat-optgroup .mat-option {
  padding-left: 2rem;
}

.mat-option.two-lines {
  height: 56px;
  line-height: 1;
  small {
    font-size: .65625rem;
    opacity: .7;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.app-content {
  padding-left: 1rem;
  padding-right: 1rem;
  mat-toolbar {
    width: auto;
    margin-left: -1rem;
    margin-right: -1rem;
    margin-bottom: 2rem;
  }
}
